/* Header.css */

.header {
  background: linear-gradient(to right, #00b4db, #0083b0); /* Gradient background */
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for header */
}

.navbar-brand {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for logo */
}

.nav-link {
  color: #fff;
  font-weight: 600;
  margin-right: 20px;
}

.nav-item .btn-primary {
  background-color: #f76707;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.nav-item .btn-primary:hover {
  background-color: #d45005;
}

