/* Icon styles */
.switch-icons .active-icon,
.switch-icons .inactive-icon {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s, background-color 0.3s;
  border-radius: 50%;
  padding: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.switch-icons .active-icon {
  color: #3498db; /* Active icon color */
  background-color: #f2f2f2;
}

.switch-icons .inactive-icon {
  color: #ccc; /* Inactive icon color */
  background-color: #f8f8f8;
}

/* Hover animation for icons */
.switch-icons .active-icon:hover,
.switch-icons .inactive-icon:hover {
  color: #fff; /* Hover color for icons */
  background-color: #3498db; /* Hover background color */
  transform: scale(1.1); /* Scale up on hover */
}
/* TableStyles.css */


.table-header {
  background-color: #333;
  color: #fff;
  border-bottom: 2px solid #fff;
  position: sticky;
  top: 0;
}

.table-header th {
  padding: 12px;
  transition: background-color 0.3s ease-in-out;
}

.table-row {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease-in-out;
}

.table-row:hover {
  background-color: #dcdcdc;
}

/* CSS Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.edit-icon {
  color: #1890ff; /* A suitable color for edit */
  margin-right: 8px; /* Add some right margin to create spacing */
}

.delete-icon {
  color: red;
}

